<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog in Detail</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1> Blog in Detail</h1>
    <div class="blogs">
        <h4> User id : <%= blog.id %></h4>
        <h4> UserName: <%= blog.username %></h4>
         <p><%= blog.post %></p>
    </div>
</body>
</html>